# Variable Assigning

In [1]:
# Variables are case-sensitive
a = 10
b = 25
name = "vivek"
result = False

In [2]:
#some special function in integer
number = "11"
int(number)

11

In [3]:
b = 8848
str(b)

'8848'

In [4]:
sumOfAandB = a + b
print(sumOfAandB)

8858

# Functions

In [5]:
def test():
    print("This is a function.")

Note: We dont use curly braces in here. 4 spaces after a line indicates its part of the function.

In [6]:
def testName(name):
    print(name)

In [7]:
test()

This is a function.

In [8]:
testName("Vivek")

Vivek

# String Manipulation

In [9]:
aString = "He is a good boy."

In [10]:
# check the length of the string
len(aString)

17

In [11]:
#check the type of the variable
type(aString)

str

In [12]:
#we can check the type of any variable using type() such as
type(a)

int

In [13]:
type(result)

bool

# Conditionals

In [14]:
if a<45:
    print("A is less than 45.")

A is less than 45.

In [15]:
def condition(A,B):
    if A < B:
        return ("A is less than B")
    else:
        return ("B must be less or equal to A")

In [16]:
condition(45,60)

'A is less than B'

# For Loop

In [17]:
# for loop is a bit different than others
# Detail explanation at https://www.w3schools.com/python/python_for_loops.asp
for i in range(12):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11

In [18]:
for i in range(1,12):
    print(i)
#Note: Range starts from the first parameter 
# but is always less than the second parameter.

1
2
3
4
5
6
7
8
9
10
11

In [19]:
for i in range(2,22,2):
    print(i)
# This parameter is for the jump

2
4
6
8
10
12
14
16
18
20

In [20]:
for i in range(0,100,10):
    print(i)

0
10
20
30
40
50
60
70
80
90

In [21]:
for i in range(10,0,-2):
    print(i)

10
8
6
4
2

# List

In [22]:
# List is the collection of items in python
aList = [1,2,3,4,5,6,7,8,9]

In [23]:
len(aList)

9

In [24]:
#The list is always indexed from 0
aList[0]

1

In [25]:
#If you use - before the index then it will look backwards, for eg
aList[-1]

9

In [26]:
aList[-3]

7

In [27]:
#List can be used to store any type of data
newList = [1,5,6,"Yo YO",True, False, None, "Awesome"]
#Remember, there are no NULL keyword in Python, we use None instead

In [28]:
len(newList)

8

In [29]:
type(newList)

list

In [30]:
anotherList = [3,4,5,True,None,'hello']

In [31]:
length = len(anotherList)
length

6

In [32]:
for i in range(len(anotherList)):
    print(anotherList[i])

3
4
5
True
None
hello

In [33]:
#You can also directly reiterate over the list
for i in anotherList:
    print(i)

3
4
5
True
None
hello

In [34]:
bList = anotherList
bList

[3, 4, 5, True, None, 'hello']

# Other types of Arrays in Python. Tuple and Dictionary

In [35]:
exampleList = [1,5,9,14,19]
#Unlike list, we use parenthesis to define a typle
exampleTuple = (1,5,6,8,78)

In [36]:
len(exampleList)

5

In [37]:
len(exampleTuple)

5

In [38]:
#Also list can be changed but tuples once defined have fixed values
#That's why tuples are also called as immutable and list are called mutable

exampleList[1]

5

In [39]:
#lets alter the value of index 1 of exampleList
exampleList[1] = 500

In [40]:
exampleList

[1, 500, 9, 14, 19]

In [41]:
#lets try to do the same in tuple
exampleTuple[1]

5

In [42]:
exampleTuple[1] = 600
# Notice the error--'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

In [43]:
#in Dictionary you've to provide keys and value pairs,
#we use curly brackets to define dictionaries
aDictionary = {'name':'vivek karn','age':12,'sex':'M'}

In [44]:
len(aDictionary)

3

In [45]:
aDictionary['name']

'vivek karn'

In [46]:
aDictionary.keys()

dict_keys(['name', 'age', 'sex'])

In [47]:
aDictionary.values()

dict_values(['vivek karn', 12, 'M'])

In [48]:
#You can also add values after assigning the dictionary, for eg
aDictionary['address'] = 'kathmandu'
aDictionary

{'name': 'vivek karn', 'age': 12, 'sex': 'M', 'address': 'kathmandu'}

In [49]:
#Set is a special form of array, which is sorted without repeated elementts
#Set is also assigned using curly brackets
aSet = {1,2,3}

In [50]:
#Set doesnot support indexing
aSet[1]

TypeError: 'set' object does not support indexing

In [51]:
#advantage of having set is that you can convert unsorted messy lists to sort no repeated elements
xList = [2,1,2,5,3,6,7,9]
xSet = set(xList)
xSet

{1, 2, 3, 5, 6, 7, 9}

# List Manipulation

In [52]:
#To compare between two variables we can use ==, for eg
a = 50
b = 50
c = 60

In [53]:
a == b

True

In [54]:
b == c

False

In [55]:
sampleList = [1,2,3,4,5,6,7,8,9]

In [56]:
a,*b,c = sampleList

In [57]:
a

1

In [58]:
b

[2, 3, 4, 5, 6, 7, 8]

In [59]:
c

9

In [60]:
a,b,*c,d = sampleList

In [61]:
c

[3, 4, 5, 6, 7, 8]

In [62]:
aList = [100,200,300,400]
for index,value in enumerate(alist):
    print(index,value)

NameError: name 'alist' is not defined

In [63]:
bList = [9,99,999,9999]

In [64]:
for a,b in zip(aList,bList):
    print(a,b)

100 9
200 99
300 999
400 9999

In [65]:
#we can also convert dictionary from two arrays
aDict = dict(zip(aList,bList))

In [66]:
aDict

{100: 9, 200: 99, 300: 999, 400: 9999}

In [67]:
aDict.items()

dict_items([(100, 9), (200, 99), (300, 999), (400, 9999)])

In [68]:
aDict.keys()

dict_keys([100, 200, 300, 400])

In [69]:
aDict.values()

dict_values([9, 99, 999, 9999])

In [70]:
cList = [2,3,5,4,65,5,55,86,5,6,4,6,4,65,5,65,212,54,5,5,65,4]

In [71]:
cList.sort()

In [72]:
cList

[2, 3, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5, 6, 6, 54, 55, 65, 65, 65, 65, 86, 212]

In [73]:
cList.sorted()

AttributeError: 'list' object has no attribute 'sorted'

In [74]:
sorted(cList)

[2, 3, 4, 4, 4, 4, 5, 5, 5, 5, 5, 5, 6, 6, 54, 55, 65, 65, 65, 65, 86, 212]

In [75]:
a = [565,54,8,544,8484,84,51,54,84,454,545]

In [76]:
sorted(a)

[8, 51, 54, 54, 84, 84, 454, 544, 545, 565, 8484]

In [77]:
a
#The original array remains after passing through function sorted
#The original array is altered after the function is called as the method of the object array

[565, 54, 8, 544, 8484, 84, 51, 54, 84, 454, 545]

# List Comprehension

In [78]:
someList = [1,2,3,4,5,6,7,8,9,10]
#you can use for loop as list comprehension
squareList = [item*item for item in someList]
squareList

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [79]:
evenList = [item for item in someList if item%2==0]
evenList

[2, 4, 6, 8, 10]

In [80]:
#some further examples
[item*2 for item in someList if item%2==0]

[4, 8, 12, 16, 20]

In [81]:
[item for item in someList if item%2!=0]

[1, 3, 5, 7, 9]

In [82]:
#Note isinstance(item,type) is a method to confirm type of variable
name = "vivek"
isinstance(name,str)

True

In [83]:
grade = 10
isinstance(grade,int)

True

In [84]:
isinstance(grade,str)

False

In [85]:
#coming back to list comprehension
anotherList = [1,2,3,4,"asd0","asd"]

In [86]:
[item for item in anotherList if isinstance(item,int)]

[1, 2, 3, 4]

In [87]:
[item for item in anotherList if isinstance(item,str)]

['asd0', 'asd']

In [88]:
xList= ['1','3','4']

In [89]:
[int(item) for item in xList]

[1, 3, 4]

In [90]:
sList = ['love','hate','love','hate']

In [91]:
[item if item!='hate' else 'love' for item in sList]

['love', 'love', 'love', 'love']

In [92]:
[item for item in sList if item!='hate']

['love', 'love']

In [93]:
aList = [5,5,6,2,79,5,8,9,5,4,5,7,89,1,2,3]

In [94]:
#We can also use list comprehension to define set
aSet = {item for item in aList}

In [95]:
aSet

{1, 2, 3, 4, 5, 6, 7, 8, 9, 79, 89}

In [96]:
aList = [1,2,3,4,5]
bList = ['apple','mango','guava','watermelon','litchi']

In [97]:
aDict = dict(zip(aList,bList))
aDict

{1: 'apple', 2: 'mango', 3: 'guava', 4: 'watermelon', 5: 'litchi'}

In [98]:
for i in aDict:
    print(i)

1
2
3
4
5

In [99]:
for i in aDict.items():
    print(i)

(1, 'apple')
(2, 'mango')
(3, 'guava')
(4, 'watermelon')
(5, 'litchi')

In [100]:
aDict = {key*2:value for key,value in aDict.items()}
aDict

{2: 'apple', 4: 'mango', 6: 'guava', 8: 'watermelon', 10: 'litchi'}

In [101]:
# Yield keyword
def gen():
    for i in range(10):
        yield i

In [102]:
g = gen()

In [103]:
next(g)

0

In [104]:
next(g)

1

In [105]:
next(g)

2

In [106]:
next(g)

3

In [107]:
next(g)
next(g)
next(g)
next(g)
next(g)

8

In [108]:
g = gen()
gList = list(g)

In [109]:
gList

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [110]:
z = range(0,10)
z

range(0, 10)

In [111]:
list(z)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [112]:
f =  zip([1,2,3],[6,7,8])

In [113]:
f

In [114]:
list(f)

[(1, 6), (2, 7), (3, 8)]

In [115]:
pwd

'F:\\algos'

In [116]:
ls

 Volume in drive F is CS
 Volume Serial Number is 2CB6-9105

 Directory of F:\algos

03/22/2020  07:16 AM    <DIR>          .
03/22/2020  07:16 AM    <DIR>          ..
03/08/2020  07:33 AM    <DIR>          .ipynb_checkpoints
03/18/2020  04:07 PM               883 anothermergesort.py
03/22/2020  07:16 AM            29,820 Basics of Python for Data Analysis.ipynb
03/01/2020  06:47 PM               555 BigO Notation.ipynb
03/20/2020  07:49 AM               375 cheat-reverse.py
02/23/2017  10:16 AM       173,819,564 Food_Inspections.csv
03/19/2020  09:10 PM             1,037 hical.py
03/20/2020  07:36 AM               458 homework.py
03/20/2020  08:11 AM               342 homework2.py
03/20/2020  04:16 PM             1,280 homework3.py
03/20/2020  07:39 PM               620 homework4.py
03/21/2020  09:24 PM             1,507 homework5.py
03/19/2020  02:59 PM               205 lcm.py
03/14/2020  08:23 PM               475 linkedlist.py
03/08/2020  07:24 AM               697 Merge Sort.ipynb
03/15/2020  07:34 PM               490 merge-sort-inway.py
03/15/2020  07:20 PM             1,296 mergingsort.py
03/17/2020  05:52 PM               818 newmergesort.py
03/13/2020  07:28 PM               241 Node.py
03/21/2020  09:28 PM             1,079 palindrome.py
03/16/2020  09:28 PM               811 py-merge.py
03/17/2020  07:16 PM               159 recursion-ex1.py
03/17/2020  07:20 PM               305 recursion-ex2.py
03/18/2020  09:05 AM               321 recursion-ex3.py
03/18/2020  02:27 PM               210 recursion-ex4.py
03/19/2020  03:04 PM               286 recursion-ex5.py
03/20/2020  07:20 PM               603 reversewords.py
03/20/2020  03:55 PM                27 reversewords.txt
03/15/2020  08:13 AM               897 revstring.py
03/16/2020  09:57 AM                94 whiletask.py
              29 File(s)    173,865,455 bytes
               3 Dir(s)  122,239,696,896 bytes free

In [117]:
file = open("Food_Inspections.csv")

In [118]:
file.readline()

'Inspection ID,DBA Name,AKA Name,License #,Facility Type,Risk,Address,City,State,Zip,Inspection Date,Inspection Type,Results,Violations,Latitude,Longitude,Location\n'

In [119]:
file.readline()

'1989421,Olive Mediterranean Grill,Olive Mediterranean Grill,2469894,Restaurant,Risk 1 (High),23 E ADAMS ST ,CHICAGO,IL,60603,02/21/2017,Canvass,Pass,"41. PREMISES MAINTAINED FREE OF LITTER, UNNECESSARY ARTICLES, CLEANING  EQUIPMENT PROPERLY STORED - Comments: OBSERVED CLUTTER IN THE REAR PREP AREA BY THE ICE MACHINE. INSTRUCTED TO REMOVE ALL EXCESS ITEMS. | 31. CLEAN MULTI-USE UTENSILS AND SINGLE SERVICE ARTICLES PROPERLY STORED: NO REUSE OF SINGLE SERVICE ARTICLES - Comments: OBSERVED SERVING UTENSILS STORED IN BOWLS OF WATER. INSTRUCTED TO STORE ALL UTENSILS ON A CLEAN DRY SURFACE.  | 30. FOOD IN ORIGINAL CONTAINER, PROPERLY LABELED: CUSTOMER ADVISORY POSTED AS NEEDED - Comments: OBSERVED SMALL CONTAINERS OF SAUCES UNLABELED IN THE FRONT COOLER FOR CUSTOMERS TO GRAB. IMNSTRUCTED TO LABEL ALL FOOD ITEMS.",41.879391313239694,-87.62684825563626,"(41.879391313239694, -87.62684825563626)"\n'